h1{ color: rgba(137, 32, 32, 0.96)}

h2 {
    color:#935d17;
}
h3 {color:azure}
h5 {color:rgba(139, 52, 52, 0.51) }
h6 {color:rgba(181, 22, 22, 0.69)}
body {background-color:}

img{
    border-radius: 50%;
padding-top: 20px;
}
#left-col {
    text-align: center;
    background-color:rgba(124, 27, 27, 0.96);
height: 100vh; width: 24em;
}
#left-col a{color:cornsilk}
#right{margin-left: 30px}